<%- include('header'); -%>

<!--- ======= About Section ======= -->
<section id="about" style="margin-top: 50px !important" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/img/about12.png" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content">
        <h3>Navigating the Complex World of Finance with UpQuarium</h3>
        <p class="fst-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <ul>
          <li>Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
          <li>Duis aute irure dolor in reprehenderit in voluptate velit</li>
          <li>
            Welcome to UpQuarium, where financial empowerment meets expertise.
            Our platform is dedicated to providing you with the knowledge and
            tools needed to navigate
          </li>
        </ul>

        <p>
          Welcome to UpQuarium, where financial empowerment meets expertise. Our
          platform is dedicated to providing you with the knowledge and tools
          needed to navigate the complex world of finance confidently.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
<%- include('footer'); -%>
