<%- include('header'); -%>

<section id="hero" class="d-flex align-items-center header1">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>upQuarium Blog, ipsum dolor.</h1>
        <h2>
          upQuarium Blog  ipsum dolor sit amet consectetur adipisicing elit.
          Neque pariatur distinctio accusamus impedit error ducimus, qui labore
          dolorem inventore laboriosam.
        </h2>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/blog2.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>
<!--- End Hero -->

<!-- -Blog Card Section -->

    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <a
                class="img-card"
                href="#"
              >
                <img
                  src="https://3.bp.blogspot.com/-bAsTyYC8U80/VtLZRKN6OlI/AAAAAAAABjY/kAoljiMALkQ/s400/material%2Bnavbar.jpg"
                />
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  <a
                    href="#"
                  >
                    Material Design Responsive Menu
                  </a>
                </h4>
                <p class="">
                  Material Design is a visual programming language made by
                  Google. Language programming...
                </p>
              </div>
              <div class="card-read-more">
                <a
                  href="#"
                  class="btn btn-link btn-block"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <a
                class="img-card"
                href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html"
              >
                <img
                  src="https://4.bp.blogspot.com/-TDIJ17DfCco/Vtneyc-0t4I/AAAAAAAABmk/aa4AjmCvRck/s1600/cover.jpg"
                />
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  <a
                    href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html"
                    >5 Button Hover Animation Effects
                  </a>
                </h4>
                <p class="">
                  tutorials button hover animation, although very much a hover
                  button is very beauti...
                </p>
              </div>
              <div class="card-read-more">
                <a
                  href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html"
                  class="btn btn-link btn-block"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- -Blog Card Section -->
<%- include('footer'); -%>
